body{
    background-color: black;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    margin-top: 2rem;
}
.buttonMovies{
    background-color: cyan;
    height: 40px;
    width:80px;
    border-radius: 30px;
    
}


.info{
    color: cyan;
    text-align: center;
}
.rowInfo{
    margin-top: 25px;
}
img{
    height: 350px;
    width: 350px;
}
#movieUrl{
    margin-top: 10px;
}
.input-field .inputStyle{
    padding: 20px;
    font-size: 16px;
border-radius: 10px;
border: none;
margin-bottom: 15px;
color: cyan;
background: black;
box-shadow: 5px 5px 10px #202020, 
            -5px -5px 10px #2c2c2c;
outline: none;

}
.cancel{
    border-radius: 30px;
}
#deleteMovie{
    position: absolute;
    margin-left: -125px;
    margin-top: -40px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;

}